body {
    font-family: Consolas;
    font-size: 20px;
    background-color: Aquamarine;
    color: CadetBlue;    
}

h1 {
    text-align: center;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 50px auto;
    text-align: center;
    color: darkslategrey;
}

th, td {
    border: 1px solid gray;
}

th {    
    font-size: 20pt;
}

td {    
    font-size: 18pt;
}

input, select {
    font-family: Consolas;
    font-size: 18pt;
    background: Aquamarine;
    color: darkslategrey;
    text-align: center;
    border: none;
}

div {
    display: flex;
    justify-content: center;
}

button {
    width: 220px;
    height: 40px;    
    background: CadetBlue;
    color: aquamarine;
    font-family: Consolas;
    font-size: 18pt;
    border-radius: 5px;
}